html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px auto;
    border-radius: 20px;
    width: 550px;
    height: 800px;
    font-size: 12px;
    font-family: sans-serif;
    overflow-Y: auto;
    background-color: #C6C6C6;
}

header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 67px;
    background-color: #FFFFFF;
}

#logo-img {
    margin-left: 15px;
    width: 150px;
}

#avatar-img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(10px);
}

li {
    list-style: none;
    width: 100%;
}

#news-feed {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 -40px;
    width: 100%;
}

.postCard {
    margin: 0 auto 30px auto;
    background-color: #FFFFFF;
}

#profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#prof-head {
    display: flex;
    transform: translate(10px, 10px);
}

#prof-info {
    margin-left: 15px;
    transform: translateY(-13px);
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 10px;
    font-weight: lighter;
}

#post-img {
    width: 100%;
}

#btn {
    margin-top: 10px;
}

#post-btns {
    background: transparent;
    border: none;
}

#post-btns:hover, #post-btns:active, #post-btns:focus {
    transform: translateY(-2px);
}

#imgButtons {
    width: 30px;
}


#post-likes {
    font-weight: bold;
    margin-left: 10px;
}

#comments {
    margin-left: 10px;
}

span {
    font-weight: bold;
}