html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px auto;
    border-radius: 20px;
    width: 550px;
    height: 800px;
    font-size: 12px;
    font-family: sans-serif;
    overflow-Y: auto;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;
    width: 100%;
}

#logo-img {
    margin-left: 15px;
    width: 150px;
}

#avatar-img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(10px);
}

li {
    list-style: none;
}

section {
    margin: 50px 0 0 -20px;
    width: 100%;
    
}

#profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#prof-head {
    display: flex;
}

#prof-info {
    margin-left: 15px;
    transform: translateY(-13px);
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 10px;
    font-weight: lighter;
}

#post-img {
    width: 100%;
}

#btn {
    margin-top: 10px;
}
#post-btns {
    background: transparent;
    border: none;
}

#imgButtons {
    width: 30px;
}


#post-likes {
    font-weight: bold;
    margin-left: 10px;
}

#comments {
    margin-left: 10px;
}

span {
    font-weight: bold;
}